.body {
  display: flex;

  width: 100vw;
  height: 100vh;
  justify-content: space-around;
  /* background-color: rgb(240, 242,245); */
  background-image: url("https://cutewallpaper.org/21/osx-background/Nature-Mac-HD-Backgrounds-mac-wallpapers-15-in-2019-.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: aquamarine; */
  cursor: pointer;
  flex-wrap: wrap;
}
.homemainblock {
  margin-top: 7%;
  display: flex;
  height: fit-content;
  width: 76vw;
  justify-content: space-around;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 5%;
  align-items: center;
}
.facebooklogotext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 36vw;
}
.loginbox {
  width: 29vw;
  height: fit-content;
  padding-bottom: 6%;
  margin-right: 2%;
  border-radius: 6px;
  box-shadow: 2px 3px 17px 2px #263a53;
  /* background-color: rgb(95, 217, 238); */
  padding-top: 1%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcxVz2Hg30jdesHIPPWumyhsyYJ_AwRsCiDVvuUC5xUDHWdtAFUo8k6eGtWxClid6rtIY&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
}
.facebooklogo {
  display: flex;
  font-family: Helvetica, Arial, sans-serif;
  color: rgb(94, 22, 229);
  font-size: 3.7rem;
  height: 7vh;

  margin-top: 5%;
  font-weight: 750;
  /* font-size: bold; */
}
.parafacebooklogo {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  margin-bottom: 29%;
  margin-top: 6%;
}
.modename {
  display: flex;
  align-items: center;
}
.passwordlogo {
  background-color: rgb(229, 250, 243);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 92%;
  margin-top: 3%;
  margin-left: 4%;
  height: 3rem;
  border-radius: 6px;
  justify-content: space-between;
  border: 0.5px solid silver;
  padding-right: 3%;
}
.show {
  margin-left: 8px;
  height: 20px;
  width: 20px;
  font-size: 1.4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.show:hover {
  background-color: #f8f1f1;
}
#email,
#butto {
  display: flex;
  width: 100%;
  margin-top: 3%;
  margin-left: 4%;
  justify-content: center;
  height: 3rem;
  border-radius: 6px;
  padding-left: 3%;
  align-items: center;
  border: 0.5px solid silver;
  font-size: 1rem;
  font-weight: 540;
  margin-right: 4%;
  font-family: Arial, sans-serif;
}

#password {
  box-sizing: border-box;
  padding-left: 3%;
  margin: 0;
  font-size: 1rem;
  width: 94%;
  border-radius: 6px;
  outline: none;
  height: 100%;
  /* border: 0.5px solid silver; */
  border: none;
  background-color: rgb(229, 250, 243);
}
#email {
  background-color: rgb(229, 250, 243);
}
#email:focus {
  outline: none;
  border-color: rgb(22, 111, 229);
}

.passwordlogo:hover {
  outline: none;
  border-color: rgb(22, 111, 229);
}
#butto {
  display: flex;
  background-color: rgb(22, 111, 229);
  color: rgb(255, 255, 255);
  font-size: bold;
  width: 92.5%;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
}

.forgetpassword {
  display: flex;
  width: 100%;
  justify-content: center;
  color: rgb(239, 241, 243);
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  margin-top: 4%;
  font-family: Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  opacity: 0.8;
}
.line {
  width: 94%;
  margin-left: 3%;
  height: 0.5px;
  background-color: silver;
  margin-top: 5%;
}
.createaccount {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 4%;
}
.createaccount2 {
  display: flex;
  width: 50%;
  height: 2.6rem;
  border-radius: 4px;
  background-color: rgb(55, 164, 32);
  color: aliceblue;
  font-size: 1.15rem;
  align-items: center;
  justify-content: center;
  font-style: inherit;
  font-weight: 600;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 4%;
}
.block {
  margin-right: 4%;
}
.pupu {
  width: 100%;
  justify-content: center;
  display: flex;
  margin-top: 8%;
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
}
a {
  text-decoration: none;
  font-size: 0.85rem;
  color: rgb(245, 241, 241);
  margin-right: 1%;
}
span,
.span1 {
  color: rgb(246, 244, 248);
  font-weight: 600;
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  opacity: 0.8;
}
.span1 {
  color: rgb(111, 250, 153);
  margin-right: 4px;
}
